.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 4.8rem;
}

.dot {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: var(--textColor);
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child { margin-right: 0; }
.dot:nth-child(1) { animation-delay: -0.3s; }
.dot:nth-child(2) { animation-delay: -0.1s; }
.dot:nth-child(3) { animation-delay: 0.1s; }

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: var(--textColor); 
        box-shadow: 0 0 0 0 rgba(41, 22, 110, .5);
    }

    50% {
        transform: scale(1.1);
        background-color: var(--primaryColor);
        box-shadow: 0 0 0 5px rgba(41, 22, 110, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: var(--textColor);
        box-shadow: 0 0 0 0 rgba(41, 22, 110, .5);
    }
}